{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{{ form.media }}

{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url changelist %}">{{verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Add' %} {{verbose_name}}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form action="" method="post">{% csrf_token %}{% block form_top %}<h1>Add user profile</h1>{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
    <fieldset class="module aligned">
    {{ form.non_field_errors }}
    {% for field in form.hidden_fields %}
    {{field.errors}}
    {{field}}
    {% endfor %}
    {% for field in form.visible_fields  %}
    <div class="form-row{% if field.errors %} errors {% endif %} aligned">
      <div>
	{{field.errors}}
	<label {% if field.field.required %}class="required"{% endif %} for="id_{{field.label}}">
	  {{field.label}}:
	</label> 
	{{field}}
	<p class="help">{{field.help_text|safe}}</p>
      </div>
    </div>
    {% endfor %}
    </div>
    </fieldset>
    <div class="submit-row">
      <input class="default" type="submit" value="{% trans 'Save' %}" name="_save" />
      <input type="submit" value="{% trans 'Save and add another'%}" name="_addanother" />
      <input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />
    </div>
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}


{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

</div>
</form></div>
{% endblock %}
