{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}users/js/jquery-1.8.0.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}users/js/highcharts/highcharts.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}users/js/meals.js"></script> -->
{{ media }}

<script type="text/javascript">
(function($) {
  $(document).ready(function($) {
    {% if chart %}
    var rdis = [];
    var intake = [];
    var cals = [];
    {% for i in chart.0 %}
      rdis.push({{i}});
    {% endfor %}
    {% for i in chart.1 %}
      intake.push({{i}});
    {% endfor %}
    {% for i in chart.2 %}
      cals.push({{i}});
    {% endfor %}
    daily_intake_track(intake, rdis, cals, "chart_container", 
                       "chart_container2");

    //draws a pie chart of the macronutrients values of the current meal
    rdi_pie_chart([{{meal_macronutrients.0}}, {{meal_macronutrients.1}}, 
                   {{meal_macronutrients.2}}], "chart_container3", 
                   "Meal's macronutrients values");
    {% endif %}

    //sets the user id to the input with id=id_user
    $('input#id_user').val({{user.id}});
    
  });
})(jQuery);
</script>

{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}
{% if chart %}
<fieldset class="module">
  <h2>Charts</h2>
  <div id="chart_container3" class="two_charts"></div>
  <div id="chart_container2" class="two_charts"></div>
  <div class="clear_both"></div>
  <div id="chart_container"></div>
</fieldset>
{% endif %}
{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
